
.icon-mail:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-basket-1:before { content: '\e803'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */